/* 
Project   : One Page
Author   : Enes Kadumi
Date    : 14/June/2023
Version: V.1
*/

/* ################################*/
/* Root */
:root {
    --templateBgColor: rgb(41, 41, 41);
}

/* ################################*/
/* Common Property */

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    line-height: 1.2;

}


body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

img:hover {
    opacity: 0.98;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.8);
    transition: 3s all;
    cursor: pointer;
}


i {
    font-size: 1.5rem;
}


/*#############################################*/

/* my special size */

.my_clearfix::after {
    content: "";
    display: block;
    clear: both;

}

.fsize1 {
    font-size: 1rem;
    /* 15px = 1rem */
}

.fsize2 {
    font-size: 2rem;
    /* 15px = 1rem */
}

.fsize3 {
    font-size: 3rem;
    /* 15px = 1rem */
}

.fsize4 {
    font-size: 4rem;
    /* 15px = 1rem */
}


/* mLine-clamp */

/* uzun yazıların sadece ilk 5 satırının gösterilmesini sağlar */
.line-clamp5 {
    display: -webkit-box;
    /*çoklu browserlarda çalışmasını sağlar */
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.line-clamp8 {
    display: -webkit-box;
    /*çoklu browserlarda çalışmasını sağlar */
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}

.line-clamp10 {
    display: -webkit-box;
    /*çoklu browserlarda çalışmasını sağlar */
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
}

/*#############################################*/

/* Navbar */
.dark_mode {
    background-color: var(--templateBgColor);
    color: white;
}

/* Header */

header {
    background-image: url("./img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    /* resimi arkaya gönderir */
    height: 90vh;
    padding-top: 4rem;
}

/* Footer */

footer{
    min-height: 15rem;
    width: auto;
    color: white;
}


/* Back top */
#back_top{
    position:fixed;
    right: 0;
    bottom: 0;
    background-color: rgb(189, 43, 189);
}

#back_top:hover{
    opacity: 0.9;
}